<%= form_for @contact_form, url: contact_form_index_path, html: { class: 'form-container' } do |f| %>
  <% if @contact_form.errors.any? %>
    <div class="form-errors-container">
      <h2><%= pluralize(@contact_form.errors.count, "error") %> prohibited this message from being sent:</h2>
      <ul>
        <% @contact_form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div>
      <%= f.label :name, class: 'label-text' %>
      <%= f.text_field :name, required: true, class: 'input-text' %>
    </div>

    <div>
      <%= f.label :email, class: 'label-text' %>
      <%= f.email_field :email, required: true, class: 'input-text' %>
    </div>

    <%= f.label :message, class: 'label-text' %>
    <%= f.text_area :message, rows: 8,
                              cols: 40,
                              required: true,
                              placeholder: "Send us a message!",
                              class: 'input-textarea' %>

    <div class= "hidden">
      <%= f.label :nickname, class: 'label-text' %>
      <%= f.text_field :nickname, :hint => 'Leave this field blank!', class: 'input-text' %>
    </div>

    <%= f.submit 'Send Message', class: 'btn-purple submit-btn' %>
  </div>
<% end %>