<%
  # Local variable with default
  dropdown_id ||= 'cartDropdown'
%>
<!-- Dropdown Menu -->
<div id="<%= dropdown_id %>"
     class="cart-dropdown"
     data-dropdown-target="menu">
  <div class="cart-dropdown-header">
    <h3 class="cart-dropdown-title">my bag</h3>
  </div>
  <div class="cart-dropdown-content">
    <% if @cart.cart_items.count > 0 %>
      <ul class="cart-items-list">
      <% @cart.cart_items.each do |item| %>
          <li class="cart-item">
            <div class="cart-item-details-dropdown">
              <p class="cart-item-name"><%= item.name %> × <%= item.quantity %></p>
              <p class="cart-item-price">
                <%= to_dollars(item.price * item.quantity) %>
                <% if item.quantity > 1 %>
                  <span class="cart-item-price-detail">(<%= to_dollars(item.price) %> each)</span>
                <% end %>
              </p>
            </div>
            <%= button_to '×',
                item,
                method: :delete,
                class: 'cart-item-remove-button absolute top-1/2 right-0 -translate-y-1/2 z-10 inline-flex items-center justify-center' %>
          </li>
      <% end %>
      </ul>
      <div class="cart-dropdown-footer">
        <div class="cart-summary">
          <div class="cart-summary-line">
            <span>subtotal</span>
            <span><%= to_dollars(@cart.total) %></span>
          </div>
          <div class="cart-summary-line">
            <span>shipping</span>
            <span>(calculated at checkout)</span>
            <!-- TODO - add shipping in here once customer has selected it; ie if they begin checkout process & then abandon cart -->
          </div>
          <div class="cart-summary-line cart-total">
            <span>total (before shipping)</span>
            <span><%= to_dollars(@cart.total) %></span>
          </div>
        </div>
        <div class="cart-dropdown-actions">
          <a href="<%= cart_path %>" class="btn-purple-secondary">view cart</a>
          <a href="<%= new_checkout_path %>" class="btn-green">checkout</a>
        </div>
      </div>
    <% else %>
      <div class="empty-cart-div">
        <p class="empty-cart-text">Your cart is empty.</p>
        <%= link_to 'shop now',
            products_path,
            class: 'btn-purple' %>
      </div>
    <% end %>
  </div>
</div>
