<%# Quantity Selector Component %>
<%# Usage: <%= render 'shared/quantity_selector',
#            input_id: 'quantity-input',
#            initial_value: 1,
#            min_value: 1,
#            field_name: 'cart_item[quantity]' (optional, defaults to nil for use with form builders) %>

<% input_id ||= "quantity-input-#{SecureRandom.uuid}" %>
<% initial_value ||= 1 %>
<% min_value ||= 1 %>
<% field_name ||= nil %>

<div class="relative flex items-center max-w-[8rem]" data-controller="input-counter">
  <button type="button"
          data-action="click->input-counter#decrement"
          class="item-quantity-select-btn round-left">
    <svg class="w-2 h-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
    </svg>
  </button>

  <input type="number"
         id="<%= input_id %>"
         <% if field_name.present? %>name="<%= field_name %>"<% end %>
         value="<%= initial_value %>"
         min="<%= min_value %>"
         data-input-counter-target="input"
         class="item-quantity-input" />

  <button type="button"
          data-action="click->input-counter#increment"
          class="item-quantity-select-btn round-right">
    <svg class="w-2 h-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
    </svg>
  </button>
</div>
