<div>
  <% @cart.cart_items.each do |item| %>
    <%= item.name.titleize %>
    <p>Price: <%= to_dollars(item.price) %></p>
    <p>Quantity: <%= item.quantity %></p>
    <%= button_to 'remove item', 
        cart_item_path(item.id), 
        method: :delete,
        class: 'text-red-400 text-sm font-bold' %>
  <% end %>

  <p>Total: <%= to_dollars(@cart.total) %> </p>
</div>