<div>
  <% @cart.cart_items.each do |item| %>
    <%= item.name.titleize %>
    <p>Price: <%= number_to_currency(item.price_in_dollars) %></p>
    <p>Quantity: <%= item.quantity %></p>
    <%= button_to 'remove item', 
        cart_item_path(item.id), 
        method: :delete,
        class: 'text-red-400 text-sm font-bold' %>
  <% end %>

  <p>Total: <%= number_to_currency(@cart.total_in_dollars) %> </p>
</div>