<h1>Create Admin Account</h1>

<%= form_with model: [:admins, @admin] do |f| %>
  <div>
    <%= f.label :email_address %>
    <%= f.email_field :email_address %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit "Sign Up" %>
<% end %>