<div class="bg-green-200 p-5">
  <p><%= link_to "#{product.name}", product_path(product.id) %></p>
  <p>[image]</p>
  <p><%= product.default_price %></p>
  <%= number_to_currency(product.price) %>
  <%= form_for :cart_item, url: cart_items_path, method: :post do |f| %>
    <%= hidden_field_tag 'cart_item[product_id]', product.id %>
    <%= f.label :quantity %>: 
    <%= f.number_field :quantity, 
      class:'bg-yellow-200',
      value: 1,
      min: 1 %>
    <%= f.submit "Add to Bag" %>
  <% end %>
</div>