<div class="flex flex-col bg-green-200 p-10 border rounded-2xl self-center items-center">
    <div class="flex justify-between p-5 gap-10">
        <p class="text-lg"><%= format_time(order.created_at) %></p>
    </div>
    <div class="flex flex-col">
      <div class="mb-5">
        <p class="font-bold mb-2 underline">
            Shipping Address
        </p>
        <p><%= @customer? @customer.name : 'Guest Customer' %></p>
        <% if @shipping_address.present? %>
            <p><%= @shipping_address[:line1] %></p>
            <p><%= @shipping_address[:line2] %></p>
            <p>
                <%= @shipping_address[:city] %>
                <%= @shipping_address[:state] %>
                <%= @shipping_address[:postal_code] %>
            </p>
        <% else %>
            <div class="font-bold text-sm m-5">
            <p>No shipping address provided.</p>
            <p>Please contact customer if you need any additional information to fulfill this order.</p>
            </div>      
        <% end %>
      </div>

      <p class="font-bold underline mb-2">Email Address</p>
      <p><%= @customer_info.email %></p>
      <br/>
      <p class="font-bold underline mb-2">Phone Number</p>
      <p><%= @customer_info.phone || '(none provided)' %></p>
      <br/>
      <hr/>
      <div>
        <p class="font-bold my-5">
            Items in This Order
        </p>
        <div class="flex flex-col align-self-center bg-green-50 m-5 self-center items-center">
            <% @line_items.each do |item| %>
            <% if item[:product][:images].present? && item[:product][:images].first.present? %>
                <%= image_tag item[:product][:images].first, alt: item[:product][:name], class: "w-24 h-24 object-cover rounded-xl" %>
            <% end %>
            <%= item[:quantity] %> x <%= item[:product][:name]%>: <%= to_dollars(item[:amount_total]) %>
            <% end %>
        </div>
      </div>
      <br/>
      <div class="flex inline-flex gap-5 self-center items-center">
      <%= link_to "Ship Order",
          edit_admins_order_path(order),
          class: 'bg-purple-300 rounded-2xl p-3 text-center' %>
      <% if order.tracking_number != "" %>
          <%= link_to "Track Order",
          "https://tools.usps.com/go/TrackConfirmAction?qtc_tLabels1=#{order.tracking_number}",
          class: 'bg-blue-300 rounded-2xl p-3 text-center' %>
      <% end %>
      <%= link_to "Stripe Transaction Details",
          "https://dashboard.stripe.com/test/payments/#{order.payment_intent_id}",
          class: 'bg-yellow-200 rounded-2xl p-3 text-center',
          target: "_blank" %>
      </div>
    </div>
</div>
<div class="p-5">
  <%= link_to "Back to unfulfilled orders", admins_orders_path %>
</div>