<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Siempreviva" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/logo.png" type="image/png">
    <link rel="apple-touch-icon" href="/logo.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <header>
      <nav class="flex justify-between p-5">
        <ul class="inline-flex gap-5">
          <li><%= link_to '[[logo]]', root_path %></li>
          <li><%= link_to 'Products', products_path %></li>
          <li><%= link_to 'Our Farms', our_farms_path %></li> 
          <li><%= link_to 'Learn', learn_path %></li>
          <li><%= link_to 'Contact', contact_path %></li>
        </ul>
        <ul class="inline-flex">
          <li><%= link_to 'Bag', cart_path if @cart %></li>
        </ul>
      </nav>
    </header>
    <main>
      <% if flash[:alert] %>
        <div class="bg-purple-300 border border-purple-600 text-purple-950 px-4 py-3 rounded-2xl mb-5 w-1/2"><%= flash[:alert] %></div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
