<!DOCTYPE html>
<html>
  <%= render partial: "layouts/public/head" %>

  <body>
    <header>
      <nav class="flex justify-between p-5">
        <ul class="inline-flex gap-5">
          <li><%= link_to '[[logo]]', root_path %></li>
          <li><%= link_to 'Products', products_path %></li>
          <li><%= link_to 'Our Farms', our_farms_path %></li> 
          <li><%= link_to 'Learn', learn_path %></li>
          <li><%= link_to 'Contact', contact_path %></li>
        </ul>
        <ul class="inline-flex">
          <li><%= link_to 'Bag', cart_path if @cart %></li>
        </ul>
      </nav>
    </header>
    <main>
      <%= render partial: "layouts/public/flash_alert" %>
      <%= yield %>
    </main>
  </body>
</html>
